// File: /assets/css/fonts.scss
// Author: Martin Burford (martin@martinburford.co.uk)

@font-face {
	font-family: 'expert-sans-light';
	src: 	url('/assets/fonts/expert-sans-light/webfont.eot');
	src: 	url('/assets/fonts/expert-sans-light/webfont.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/expert-sans-light/webfont.woff') format('woff'), 
			url('/assets/fonts/expert-sans-light/webfont.ttf') format('truetype'), 
			url('/assets/fonts/expert-sans-light/webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'expert-sans-regular';
	src: 	url('/assets/fonts/expert-sans-regular/webfont.eot');
	src: 	url('/assets/fonts/expert-sans-regular/webfont.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/expert-sans-regular/webfont.woff') format('woff'), 
			url('/assets/fonts/expert-sans-regular/webfont.ttf') format('truetype'), 
			url('/assets/fonts/expert-sans-regular/webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'expert-sans-bold';
	src: 	url('/assets/fonts/expert-sans-bold/webfont.eot');
	src: 	url('/assets/fonts/expert-sans-bold/webfont.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/expert-sans-bold/webfont.woff') format('woff'), 
			url('/assets/fonts/expert-sans-bold/webfont.ttf') format('truetype'), 
			url('/assets/fonts/expert-sans-bold/webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'icomoon';
	src: 	url('/assets/fonts/icomoon/icomoon.eot');
	src: 	url('/assets/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/icomoon/icomoon.woff') format('woff'), 
			url('/assets/fonts/icomoon/icomoon.ttf') format('truetype'), 
			url('/assets/fonts/icomoon/icomoon.svg#webfont') format('svg');
} 